@import url(./__triangle/kaufman__triangle.css);

.kaufman {
  background-color: #000;

  position: relative;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 90px;
}
