.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.no-underline {
  text-decoration: none;
}

.line-margin {
  display: inline-block;
  margin-top: 20px;
}

/* HEADER */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #f2f2f2;

  position: relative;
}

.logo__place_header {
  position: absolute;

  top: 30px;
  left: 64px;
}

.header__title {
  max-width: 730px;

  margin-left: 64px;

  z-index: 1000;

  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  max-width: 388px;

  position: absolute;

  bottom: 30px;
  left: 64px;

  z-index: 1000;

  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
}

.header__link {
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;

  right: 0;
  bottom: 0;

  z-index: 2;

  max-width: 765px;
}

.header__square-pic {
  position: absolute;

  right: 0;
  top: 64px;

  width: 568px;
  height: 568px;

  background-color: #2f80ed;
}

/* DESCRIPTION */
.description {
  padding: 100px 0;

  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.two-columns__brief {
  width: 175px;

  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.two-columns__span-accent {
  font-weight: 600;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 0 100px 0;
}

.section-title,
.section-subtitle {
  width: 60%;

  text-align: center;
}

.section-title {
  margin: 0 0 20px 0;

  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  margin: 0 0 60px 0;

  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.table {
  width: 1100px;

  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;

  margin-top: 60px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}

/* FEYNMAN */
.feynman {
  background-color: #f2f2f2;
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 890px;

  position: relative;
}

.feynman__title {
  width: 648px;

  margin: 100px 0 0 0;

  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  margin-top: 70px;

  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;

  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
}

/* KAUFMAN */
.kaufman {
  background-color: #000;

  position: relative;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;

  width: 877px;
  height: 877px;
}

.section-title_theme_dark,
.section-subtitle_theme_dark {
  color: #fff;
  z-index: 1;
}

.section-title_theme_dark {
  margin: 90px 0 20px 0;

  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.table_theme_dark {
  margin-bottom: 90px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;

  z-index: 1;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}

/* FOOTER */
.footer {
  min-height: 350px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #000;
}

.footer__columns {
  margin: 60px auto 40px;

  width: 90%;

  display: flex;
  justify-content: space-between;
  flex: 1;
}

.footer__columns_content_copyright {
  flex-basis: 711px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__author {
  color: #fff;
  margin: 0 0 18px 0;

  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
}

.footer__columns_content_info,
footer__columns_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  color: #fff;

  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  margin: 20px 0 16px 0;

  display: flex;
  flex-direction: column;
}

.footer__column-link {
  color: #fff;

  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
}

.footer__social-icon {
  width: 16px;
  height: 16px;

  margin-right: 10px;
}
